In [1]:
import plotly

In [2]:
plotly.__version__

'4.1.1'

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data/nz_weather.csv')

In [5]:
data.head()

      DATE  Auckland  Christchurch Dunedin Hamilton  Wellington
0  2000-01     115.4          47.2   174.8     96.2        91.8
1  2000-02       8.4          25.2      41      8.2        35.2
2  2000-03      57.2          60.8    74.2     33.8        53.4
3  2000-04     106.8          58.2      50    129.6       109.8
4  2000-05     128.2          62.0      '-     98.2        78.2

In [ ]:
import plotly.graph_objects as go

In [ ]:
line1 = go.Scatter(x=data['DATE'], y=data['Auckland'], name='Auckland')
line2 = go.Scatter(x=data['DATE'], y=data['Wellington'], name='Wellington')
fig  = go.Figure([line1, line2])
fig.update_layout(
    title = "New Zealand Weather",
    xaxis_title = "Date",
    yaxis_title = "Weather"
)
fig.show()

## Bar Chart

In [ ]:
data_2010 = data[(data['DATE'] >= '2010-01') & (data['DATE'] < '2011-01')]
data_2010

In [ ]:
bar1 = go.Bar(x = data_2010['DATE'], y = data_2010['Auckland'], 
              text = data_2010['Auckland'], textposition='outside')
fig = go.Figure(bar1)
fig.show()

In [ ]:
bar1 = go.Bar(x = data_2010['DATE'], y = data_2010['Auckland'], 
              text = data_2010['Auckland'], textposition='outside', name='Auckland')
bar2 = go.Bar(x = data_2010['DATE'], y = data_2010['Wellington'], 
              text = data_2010['Wellington'], textposition='outside', name='Wellington')
fig = go.Figure([bar1, bar2])
fig.show()

## Histogram

In [ ]:
hist = go.Histogram(x = data['Auckland'])
fig = go.Figure(hist)
fig.update_layout(bargap=0.1)
fig.show()

In [ ]:
hist = go.Histogram(x = data['Auckland'], xbins={'size': 10})
fig = go.Figure(hist)
fig.update_layout(bargap=0.1)
fig.show()