# 3D

In [1]:
import plotly.graph_objects as go
import pandas as pd

In [2]:
data = pd.read_csv('./data/3d-line1.csv')
data.head()

            x         y         z  color
0  100.000000  0.613222  0.734706      0
1   99.238875  0.589852  0.781320      0
2   99.559608  0.599743  0.762566      0
3   97.931425  0.549296  0.859966      0
4   96.837832  0.515613  0.927150      0

In [ ]:
line = go.Scatter(x = data['x'], y = data['y'])
fig = go.Figure(line)
fig.show()

In [ ]:
line = go.Scatter3d(x = data['x'], y = data['y'], z = data['z'])
fig = go.Figure(line)
fig.show()

In [ ]:
line = go.Scatter3d(x = data['x'], y = data['y'], z = data['z'], mode='markers')
fig = go.Figure(line)
fig.show()

In [ ]:
line = go.Scatter3d(x = data['x'], y = data['y'], z = data['z'], 
                    mode='markers', marker={'size': 3, 'color': 'red'})
fig = go.Figure(line)
fig.show()

# plotly.express

In [3]:
import plotly.express as px

In [4]:
data.head()

            x         y         z  color
0  100.000000  0.613222  0.734706      0
1   99.238875  0.589852  0.781320      0
2   99.559608  0.599743  0.762566      0
3   97.931425  0.549296  0.859966      0
4   96.837832  0.515613  0.927150      0

In [ ]:
fig = px.scatter_3d(data, x='x', y='y', z='z', color='color')
fig.show()