[原notebook](https://www.kaggle.com/ryuheeeei/let-s-start-from-here-beginners-data-analysis)

In [1]:
import pandas as pd
import numpy as np
import gc

# 数据载入

In [2]:
data_path = "/home/zhang/Documents/data_set/m5_forecasting_accuracy/"

calendar_df = pd.read_csv(f'{data_path}/calendar.csv')
sell_prices_df = pd.read_csv(f'{data_path}/sell_prices.csv')
sample_submission_df = pd.read_csv(f'{data_path}/sample_submission.csv')
sales_train_validation_df = pd.read_csv(f'{data_path}/sales_train_validation.csv')

# 数据整理

In [3]:
calendar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
date            1969 non-null object
wm_yr_wk        1969 non-null int64
weekday         1969 non-null object
wday            1969 non-null int64
month           1969 non-null int64
year            1969 non-null int64
d               1969 non-null object
event_name_1    162 non-null object
event_type_1    162 non-null object
event_name_2    5 non-null object
event_type_2    5 non-null object
snap_CA         1969 non-null int64
snap_TX         1969 non-null int64
snap_WI         1969 non-null int64
dtypes: int64(7), object(7)
memory usage: 215.5+ KB

In [4]:
# 修改数据类型减少内存占用
chng_int8 = ['month', 'snap_CA', 'snap_TX', 'snap_WI', 'wday']
chng_cat = ['weekday', 'event_name_1', 'event_type_1', 
            'event_name_2', 'event_type_2']

# 64位的int变为8位的int
calendar_df[chng_int8] = calendar_df[chng_int8].astype('int8')
calendar_df[['wm_yr_wk', 'year']] = calendar_df[['wm_yr_wk', 'year']].astype('int16')
calendar_df['date'] = calendar_df['date'].astype('datetime64')

# 补充缺失值
nan_features = chng_cat[1:]
for i in nan_features:
    calendar_df[i].fillna('unknow', inplace=True)
#分类数据转化为数值    
calendar_df[chng_cat] = calendar_df[chng_cat].astype('category')
# 查看结果
calendar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
date            1969 non-null datetime64[ns]
wm_yr_wk        1969 non-null int16
weekday         1969 non-null category
wday            1969 non-null int8
month           1969 non-null int8
year            1969 non-null int16
d               1969 non-null object
event_name_1    1969 non-null category
event_type_1    1969 non-null category
event_name_2    1969 non-null category
event_type_2    1969 non-null category
snap_CA         1969 non-null int8
snap_TX         1969 non-null int8
snap_WI         1969 non-null int8
dtypes: category(5), datetime64[ns](1), int16(2), int8(5), object(1)
memory usage: 60.2+ KB

In [5]:
sales_train_validation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1919 entries, id to d_1913
dtypes: int64(1913), object(6)
memory usage: 446.4+ MB

In [6]:
sales_train_validation_df.loc[:, 'd_1':] = sales_train_validation_df.loc[:,'d_1':].astype('int16')
sales_train_validation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1919 entries, id to d_1913
dtypes: int16(1913), object(6)
memory usage: 112.6+ MB

In [7]:
# 改变sell_price的id列
sell_prices_df.loc[:, 'id'] = sell_prices_df.loc[:, "item_id"] + "_" + sell_prices_df.loc[:, "store_id"] + "_validation"

In [8]:
sell_prices_df.head()

  store_id        item_id  wm_yr_wk  sell_price                             id
0     CA_1  HOBBIES_1_001     11325        9.58  HOBBIES_1_001_CA_1_validation
1     CA_1  HOBBIES_1_001     11326        9.58  HOBBIES_1_001_CA_1_validation
2     CA_1  HOBBIES_1_001     11327        8.26  HOBBIES_1_001_CA_1_validation
3     CA_1  HOBBIES_1_001     11328        8.26  HOBBIES_1_001_CA_1_validation
4     CA_1  HOBBIES_1_001     11329        8.26  HOBBIES_1_001_CA_1_validation

In [9]:
sell_prices_df = pd.concat([sell_prices_df, 
                            sell_prices_df['item_id'].
                            str.split('_', expand=True)], axis=1)
sell_prices_df = sell_prices_df.rename(columns={0:'cat_id', 1:'dept_id'})

In [10]:
sell_prices_df.head()

,store_id,item_id,wm_yr_wk,sell_price,id,cat_id,dept_id,2
0,CA_1,HOBBIES_1_001,11325,9.58,HOBBIES_1_001_CA_1_validation,HOBBIES,1,001
1,CA_1,HOBBIES_1_001,11326,9.58,HOBBIES_1_001_CA_1_validation,HOBBIES,1,001
2,CA_1,HOBBIES_1_001,11327,8.26,HOBBIES_1_001_CA_1_validation,HOBBIES,1,001
3,CA_1,HOBBIES_1_001,11328,8.26,HOBBIES_1_001_CA_1_validation,HOBBIES,1,001
4,CA_1,HOBBIES_1_001,11329,8.26,HOBBIES_1_001_CA_1_validation,HOBBIES,1,001

In [11]:
sell_prices_df[['store_id', 'item_id', 'cat_id', 'dept_id']] = sell_prices_df[['store_id', 'item_id', 'cat_id', 'dept_id']].astype('category')
sell_prices_df = sell_prices_df.drop(columns=2)

In [13]:
sell_prices_df.head()

,store_id,item_id,wm_yr_wk,sell_price,id,cat_id,dept_id
0,CA_1,HOBBIES_1_001,11325,9.58,HOBBIES_1_001_CA_1_validation,HOBBIES,1
1,CA_1,HOBBIES_1_001,11326,9.58,HOBBIES_1_001_CA_1_validation,HOBBIES,1
2,CA_1,HOBBIES_1_001,11327,8.26,HOBBIES_1_001_CA_1_validation,HOBBIES,1
3,CA_1,HOBBIES_1_001,11328,8.26,HOBBIES_1_001_CA_1_validation,HOBBIES,1
4,CA_1,HOBBIES_1_001,11329,8.26,HOBBIES_1_001_CA_1_validation,HOBBIES,1

In [ ]:
# aa = {'a':[1, 2, 3, 4], 'b':[5, 6, 7, 8]}
# bb = {'c':[9, 10, 11, 12], 'd':[13, 14, 15, 16]}

# a_df = pd.DataFrame(aa)
# b_df = pd.DataFrame(bb)

# c = pd.concat([a_df, b_df], axis=1)
# d = pd.concat([a_df, b_df], axis=0)

In [ ]:
# f = {'e':[str(x) + '_' + str(y) for x, y in zip(aa['b'],bb['d'])]}
# f_df = pd.DataFrame(f)
# f_df['e'].str.split('_', expand=True)

# 数据清洗 Data Cleaning

In [12]:
def make_dataframe():
    # 宽表
    df_wide_train = sales_train_validation_df.drop(columns=['item_id',
                                                            'dept_id',
                                                            'cat_id',
                                                            'state_id',
                                                            'store_id', 
                                                            'id']).T
    df_wide_train.index = calendar_df['date'][:1913]
    df_wide_train.columns = sales_train_validation_df['id']
    
    # 测试集数据
    df_wide_test = pd.DataFrame(np.zeros(shape=(56, len(df_wide_train.columns))),
                                index=calendar_df.date[1913:], 
                                columns=df_wide_train.columns)
    
    df_wide = pd.concat([df_wide_train, df_wide_test])
    
    # 宽表转长表
    df_long = df_wide.stack().reset_index(1)
    df_long.columns = ['id', 'value']
    
    del df_wide_train, df_wide_test, df_wide
    gc.collect()
    
    df = pd.merge(pd.merge(df_long.reset_index(), calendar_df, on="date"),
                 sell_prices_df, on=['id', 'wm_yr_wk'])
    df = df.drop(columns=['d'])
    
    df['sell_price'] = df['sell_price'].astype('float16')
    df['value'] = df['value'].astype('int32')
    df['state_id'] = df['store_id'].str[:2].astype('category')
#     df['state_id'] = df['state_id']
    
    del df_long
    gc.collect()
    
    return df

df = make_dataframe()

In [ ]:
# df1= pd.DataFrame(np.zeros(shape=(56, len(sales_train_validation_df['id']))),
#                             index=calendar_df.date[1913:], 
#                             columns=sales_train_validation_df['id'])

In [ ]:
# df1.stack()

In [ ]:
# df1.shape

In [ ]:
# aa = {'a':[1, 2, 3, 4], 'b':[5, 6, 7, 8]}
# bb = {'c':[9, 10, 11, 12], 'd':[13, 14, 15, 16]}

# a_df = pd.DataFrame(aa)
# b_df = pd.DataFrame(bb)

# c = pd.concat([a_df, b_df], axis=1)
# d = pd.concat([a_df, b_df], axis=0)

In [ ]:
# c.stack()

In [ ]:
# c.unstack

In [ ]:
df.dtypes